.title {
  font-size: 24px;
  color: black;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-right: 700px;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #1e90ff; */
}

button:hover {
  opacity: 70%;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

header > button:active {
  border: 2px solid black; /* Change border color and width when button is clicked */
}

.en {
  font-size: 20px;
  transition: font-size 0.5 ease;
  width: 220px;
  height: 110px;
  background: linear-gradient(transparent 40%, #c8102e 40% 60%, transparent 60%),
    linear-gradient(to right, transparent 45%, #c8102e 45% 55%, transparent 55%),
    linear-gradient(transparent 35%, #fff 35% 65%, transparent 65%),
    linear-gradient(
      to right,
      transparent 42.25%,
      #fff 42.25% 57.75%,
      transparent 42.25%
    ),
    linear-gradient(
      25deg,
      transparent 47.5%,
      #c8102e 47.5% 52.5%,
      transparent 52.5%
    ),
    linear-gradient(
      -25deg,
      transparent 47.5%,
      #c8102e 47.5% 52.5%,
      transparent 52.5%
    ),
    linear-gradient(25deg, transparent 45%, #fff 45% 55%, transparent 55%),
    linear-gradient(-25deg, transparent 45%, #fff 45% 55%, transparent 55%);

  border-radius: 40%;
  width: 2%;
  height: 3%;
  background-color: #09529b;
  color: black;
  border: none;
  margin: 10px;
  font-family: sans-serif;
}

.gr {
  font-size: 20px;
  transition: font-size 0.5 ease;
  background-image: linear-gradient(
    blue 0%,
    blue 20%,
    white 20%,
    white 40%,
    blue 40%,
    blue 60%,
    white 60%,
    white 80%,
    blue 80%,
    blue 100%
  );
  border-radius: 40%;
  width: 2%;
  height: 3%;
  color: black;
  border: none;
  margin: 10px;
  font-family: sans-serif;
}

.de {
  font-size: 20px;
  transition: font-size 0.5 ease;
  background-image: linear-gradient(
    black 33%,
    red 33%,
    red 66%,
    yellow 66%,
    yellow 100%
  );
  border-radius: 40%;
  width: 2%;
  height: 3%;
  background-color: #09529b;
  color: black;
  border: none;
  margin: 10px;
  font-family: sans-serif;
}

.login {
  border-radius: 40%;
  width: 100px;
  height: 50px;
  background-color: #535347;
  color: white;
  font-weight: bold;
  border: none;
  margin: 10px;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* nav {
  background-color: #333;
  padding: 10px 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
}

li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

li a:hover {
  background-color: #555;
} */
